/*---------GENERAL COMPONENTS---------*/

body {
  font-family: raleway, sans-serif;
  padding-top: 120px; /*for when the navbar content wraps*/
}

h1 {
  font-weight: 300;
  line-height: 130%;
}

a {
  color: rgb(0, 0, 0);
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

p {
  padding-bottom: 15px;
  margin-bottom: 10px;
}

iframe {
  display: block;
  /* margin: auto; */
}

.btn-default {
  color: #1b1b1b;
  border: 0.5px #1b1b1b solid;
  padding: 12px;
  border-radius: 0;
  background-color: transparent;
  letter-spacing: 1px;
  /* width: 100%; */
  /* margin-right: 5px; */
}

.btn-categories {
  width: 100%;
}

.btn-default:active,
.btn-default:hover {
  color: white;
  background-color: #1b1b1b;
  border: 0.5px #1b1b1b solid;
}

.btn-default:focus,
.btn-default:active:focus,
.btn-default:active:hover {
  color: #1b1b1b;
  border-color: #1b1b1b;
  background-color: transparent;
}

.return_buttons {
  margin-left: 15px;
}

.mark,
mark {
  padding: 0;
}
/*---------NAV BAR--------------------*/

.navbar-toggle {
  margin-top: 15px;
  margin-right: 30px;
  padding: 7px 7px;
  border-radius: 0;
}

.navbar-default {
  background: white;
  border-color: white;
  font-family: raleway, sans-serif;
  padding: 20px 0px 0px 0px;
  letter-spacing: 1.8px;
}

.navbar-default .navbar-brand {
  color: black;
  font-size: 35px;
  font-family: raleway, sans-serif;
  font-weight: 800;
  vertical-align: bottom;
  /* this padding makes up for the 15 pixel weirdness when shrunk and magnified */
  padding-left: 28px;
  padding-right: 0;
  letter-spacing: 2px;
  line-height: 110%;
  overflow: hidden;
  width: auto;
}

.navbar-default .navbar-nav {
  vertical-align: bottom;
  padding-bottom: 0;
}

.navbar-default .navbar-nav a {
  color: #7f7d7d;
  /*  font-family: raleway, sans-serif;*/
  vertical-align: bottom;
  padding-bottom: 0;
  /* this padding makes up for the 15 pixel weirdness when shrunk and magnified */
  margin-right: 30px;
  padding-right: 0;
  padding-left: 0px;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: black;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: transparent;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.navbar-toggle .icon-bar {
  height: 3px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #545454;
}
/*----------ABOUT---------*/

.splash {
  float: none;
  margin: 0 auto;
}

p.about {
  font-size: 25px;
}

mark.orange {
  color: #ffad31;
  background: none;
}

mark.green {
  color: #bdbf37;
  background: none;
}

mark.cyan {
  color: #00b29d;
  background: none;
}

mark.grey {
  color: darkslategrey;
  background: none;
}

/* Project type */
.project_square_images {
  width: 100%;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.project_square {
  margin-bottom: 30px;
}

.project_square_background {
  background-color: black;
}

.project_container {
  /* padding must be 15 px minus padding on the project square */
  padding: 5px;
}
.misc_text {
  text-align: center;
  /* vertical-align: middle; */
  color: white;
  background-color: rgb(60, 60, 60);
  /* font-weight: 800; */
  /* letter-spacing: 3px; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 18px;
  width: 30px;
  height: 30px;
  /* margin-top: 80%; */
}

.project_text {
  text-align: center;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  font-weight: 800;
  letter-spacing: 3px;
  /* this centers the project text in the middle of the square */
  position: absolute;
  margin-top: 40%;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.project_square:hover .project_text {
  /*Got real fancy with the nesting, lol*/
  opacity: 1;
}

.project_square:hover .project_square_images {
  opacity: 0.4;
}

.project_images {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 15px;
}

.category_title {
  width: 195px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/*PROJECTS*/

.logo {
  /* this is very hacky because of the way glyphicons work */
  /* I used media queries to have it look acceptable as it's resized rather than just
  using percentage values because precentage values are incompatible with glyphicons */
  font-size: 16vw;
}

@media (max-width: 767px) {
  .logo {
    font-size: 60vw;
  }
}

@media (min-width: 1440px) {
  .logo {
    font-size: 240px;
  }
}

.project_type {
  padding: 25px 25px 15px 25px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 3px 6px #808080;
  box-shadow: 0px 3px 6px #808080;
}

.project_type:hover {
  background-color: hsl(0, 0%, 10%);
  color: white;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*------RESUME-----*/
p.cv_categories {
  font-size: 18px;
  letter-spacing: 1.8px;
  padding: 0px;
  text-align: left;
}

/* the container for each cv "chunk"
 e.g.: all of the items under work experience */
.cv_section {
  max-width: 900px;
  padding: 0px;
}

.cv_item {
  padding: 0px;
  margin-bottom: 15px;
}

.cv_heading_details {
  padding-top: 5px;
}

p.cv_heading_details {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  vertical-align: bottom;
  text-align: left;
  font-weight: 300;
}

p.cv_class_of {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  vertical-align: bottom;
  text-align: right;
  font-weight: 300;
}

@media (max-width: 991px) {
  p.cv_class_of {
    text-align: left;
  }
}

.col-md-12.cv_divider {
  height: 2px;
  background-color: #eee;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.cv_divider_outer {
  margin-right: 30px;
}

.cv_heading_details {
  padding-top: 5px;
}

p.cv_header,
p.cv_subheader {
  font-size: 18px;
  letter-spacing: 1.8px;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

td {
  font-size: 14px;
}

p.cv_description {
  font-size: 14px;
  padding-top: 10px;
}

p.cv_subheader {
  font-weight: 300;
}

/* Contact & Blog
-------------------------------------------------- */
.huge_header {
  font-size: 60px;
  text-align: center;
}

.social [class*="fa fa-"] {
  display: inline-block;
  color: #1b1b1b;
  height: 90px;
  line-height: 50px;
  width: 90px;
  text-align: center;
}

.social_icons {
  text-align: center;
}

a:hover [class*="fa fa-"],
a:active [class*="fa fa-"],
a:focus [class*="fa fa-"] {
  color: white;
  text-decoration: none;
  /* -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s; */
}

.contact_content {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*--------FOOTER--------*/

.footer {
  position: relative;
  bottom: 10px;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*  height: 30px;*/
  padding-left: 15px;
  font-family: raleway, sans-serif;
  /*  padding-top: 40px;*/
}

.col-md-12.footer_divider {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.footer_divider_outer {
  margin-right: 15px;
}

.footer_text {
  color: #777;
  font-size: 12px;
}
/*MEDIA QUERIES*/

/* anything larger than a macbook pro will render like container, non-fluid
so, incrementally, there will be white space around the content */
@media (min-width: 1680px) {
  .container-fluid {
    width: 1680px;
  }
}

@media (max-width: 1680px) {
  .container-fluid {
    margin: 0px 30px 0px 30px;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav a {
    margin-left: 30px;
    /* padding-left: 30px; */
  }

  /* .navbar-default .navbar-brand {
  
  } */
  .project_type {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    position: relative; /* If you want text inside of it */
    /* margin: 0; */
    -webkit-box-shadow: 0px 3px 6px #808080;
    box-shadow: 0px 3px 6px #808080;
  }

  .square_category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .category_text {
    /* position: absolute; */
    font-size: 16px;
    margin: 0;
  }
}

@media (max-width: 420px) {
  p.about {
    font-size: 21px;
  }

  .navbar-default .navbar-brand {
    padding-left: 30px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }

  .navbar-default .navbar-toggle {
    border-color: #545454;
    border-radius: 0;
    margin-right: 30px;
  }

  .content {
    margin-top: 0;
  }
}

/* spinners!!!! */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: transparent;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
